<!DOCTYPE html>
<html>
  <head>
    <title>Deskforaday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <div class="min-h-screen bg-white">
      <%=  render 'shared/topbar' %>

      <div class="py-10">
        <main>
          <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            
            <%= yield %>

          </div>
        </main>
      </div>
    </div>

    <%= render 'shared/toast', locals: { alert: alert, notice: notice } %>
  </body>
</html>
